.topo2 {
    height: 95px;
    background-color: #FFFFFF;
}
.top2int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo {
    width: 230px;
    height: 90px;
    float: left;
    margin-top: 5px;
}
.topo2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #FF0000;
}

/* MENU */
.menu {
    height: 40px;
    background-color: #FF0000;
}
.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu li:hover .submenu {
    display: block;
}
.menu a {
    color: #FFFFFF;
}
.menu li:hover {
    background-color: #d11d1d;
}
.submenu {
    width: 150px;
    background-color: #ff0000;
    position: absolute;
    display: none;
}
.submenuitem {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover {
    background-color: #FF5555;
}
a {
    text-decoration: none;
}